//agregar para aplicar colores al nav-bar segun el estilo del componente
.app-nav
{
    //color: var(--secondary_g);
    background: var(--accent_f2);
    .brand
    {
        font-size: 2em;
        font-weight: 1200;
        padding-left: 1.2em;
        .color
        {
            color: var(--primary_g);;
        }
    }

    .links
    {
        font-size: 1.2em;
        padding: 1em 1.3em;

        .active
        {
            color:var(--primary_g);
        }

        .nav-link
        {
            transition: all 0.3s ease 0s;
        }

        .nav-link:hover
        {
            color:var(--primary_g);
            transform: translateY(-3px);
            box-shadow: 0px 4px 6px rgba(243, 104, 224, 0.3);
        }

        .link
        {
            padding-right: 1.5em;
        }

    }

    .giphy-btn
    {
        color: var(--primary_g);
        -webkit-text-stroke: var(--primary_g) 1px;
        text-align:center;
        background:white;
        font-size: 1em;
        padding: .5em 20px;
        border-radius: 50px;
        width: 125px;
        box-shadow: 0px 4px 6px rgba(243, 104, 224, 0.3);
        transition: all 0.3s ease 0s;
    }

    .giphy-btn:hover
    {
        color: var(--primary_g);
        -webkit-text-stroke: var(--primary_g) 1px;
        background:white;
        box-shadow: 0px 6px 8px rgba(243, 104, 224, 0.3);
        transform: translateY(-3px);
    }

    .giphy-btn:active
    {
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
        transform: translateY(4px);
    }

}
//-------------------------------------------------------------------------