<!--hay que pegar el elemento navbar al principio del archivo html del componente -->
<!--------------------------------navbar--------------------------------------------->
<nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <div class="container-fluid app-nav">
      <a class="navbar-brand brand" href="#">Pica<span class="color">Fun</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto links">
          <li class="nav-item link">
            <a class="nav-link " routerLinkActive="active current" [routerLinkActiveOptions]="{exact:true}" routerLink="/">Foxes</a>
          </li>
          <li class="nav-item link">
            <a class="nav-link "  routerLinkActive="active current" [routerLinkActiveOptions]="{exact:true}" routerLink="/Owls">Owls</a>
          </li>
          <li class="nav-item link">
            <a class="nav-link" routerLinkActive="active current" [routerLinkActiveOptions]="{exact:true}" routerLink="/Pandas">Pandas</a>
          </li>
          <li>
              <a class="btn giphy-btn"  routerLinkActive="active current" [routerLinkActiveOptions]="{exact:true}" routerLink="/random-gif">Try a gif!</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-------------------------------- Resto de la intefaz----------------------------------------->
<ngx-spinner
bdColor="rgba(255,255,255,1)"
size="medium"
color="#2F2F2F"
type="ball-pulse"
></ngx-spinner>

 <section class="hero-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h5 class="subheading">Have Some Fun !</h5>
                <h3 class="heading">Get random and cute <span class="color"> {{animal}}</span> pics with funny facts.</h3>
            </div>
        </div>
    </div>
 </section>

 <section class="display-section">
     <div class="container">
       <div class="row">
         <div class="col-lg-6 left-col">
            <button class="btn display-btn" (click)="GetRandomFoxImageAndFact()">
              Click Me !
            </button>
            <div class="container img-container">
              <img src="{{foxImg_url}}" class="img-fluid fox-img" alt="Cute foz pic"/>
            </div>
         </div>
         <div class="col-lg-6 right-col">
          <div class="container fact-container">
            <p class="message">
              {{fact}}
            </p>
          </div>
         </div>
       </div>
     </div>
 </section>
